.box {
  padding: 2%;
  margin-left: 5%;
  height: -721;
  width: 1218px; }
  .box__header {
    font-size: 40px;
    font-family: 'Times New Roman';
    margin-bottom: -4px; }
  .box__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 34px; }
  .box__paragraph {
    margin-left: 2%;
    font-size: 19px;
    font-family: 'lato';
    color: #7a7a7a; }
  .box__img {
    height: 80px;
    margin-top: 2.0%; }
  .box__bellowing {
    margin-top: -10;
    font-size: 19px;
    font-family: 'lato';
    line-height: 34px;
    color: #7a7a7a;
    margin-bottom: 2%; }
  .box__travellers {
    font-size: 19px;
    font-family: 'lato';
    line-height: 34px;
    color: #7a7a7a;
    margin-bottom: 2%; }
  .box__country {
    font-size: 19px;
    font-family: 'lato';
    line-height: 34px;
    color: #7a7a7a; }
  .box__engineer {
    font-size: 34px;
    font-family: 'lato';
    color: #7a7a7a; }
  .box__button {
    color: #fff;
    padding: 14px;
    width: 191px;
    border-color: #eaa258;
    outline: none;
    background: #eaa258;
    display: block; }
  .box__button:hover {
    background: #FFF;
    color: #eaa258; }
  .box__s {
    margin-bottom: -1%;
    display: block;
    margin-top: -2%;
    font-size: 60px;
    display: inline-block;
    padding: 1%; }
